
.main {
  background-image: linear-gradient(rgb(5, 104, 137),rgb(220, 113, 131),lightpink);
  height: 100vh;
  margin-top: 0;
} 
.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 42px;
}
.form {
 text-align: center;
}
label {
  font-size:20px;
  font-weight: bold;
}
.input-field {
  border:2px solid black;
  background-color: lightslategray;
  border-radius: 18px;
  height:28px;
  width:200px;
  font-size: 20px;
}
.btn {
  background-color: rgb(116, 219, 219);
  color:black;
  border: 2px solid black;
  border-radius: 20px;
  width:180px;
  height:42px;
  font-size: 20px;
  margin-top:15px;
}
.hr {
  background-color:black;
  width:90vw;
  text-align:center;
  margin-top:60px;
  height:3px;
}
.lower-box {
  height:400px;
  width:90vw;
  margin:auto;
  text-align:center;
  background-color: aqua;
  margin-top:50px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.wrapper {
  border:1px solid black;
  border-radius: 25px;
  height:40px;
  background-color: beige;
  width:450px;
  text-align:center;
  padding-top:5px;
}
